{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preload" href="{% static 'css/fonts.css' %}" as="style">

        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block stylesheets %}{% endblock %}
        {% block scripts %}{% endblock %}

        <title>Ludwig</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div>
                    <a href="/" class="logo">Ludwig</a>
                    {% if user.is_authenticated %}
                        <span class="username">@{{ user }}</span>
                    {% endif %}
                </div>

                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout">Logout</button>
                    </form>
                {% endif %}
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <div class="container">
                {% now "Y" as current_year %}
                {% if current_year == "2025" %}
                    <p>&copy; {{ current_year }} Ludwig</p>
                {% else %}
                    <p>&copy; 2025-{{ current_year }} Ludwig</p>
                {% endif %}
            </div>
        </footer>
    </body>
</html>
