{% extends "core/core.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="form-container">
        <h2>Log In</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
    </div>
</div>
{% endblock %}
