<form id="post_form" hx-post="{{ request.path }}" hx-swap="none" hx-on::after-request="this.reset()">
    {% csrf_token %}

    <textarea
        name="body"
        cols="40"
        rows="10"
        placeholder="Say something..."
    ></textarea>

    <div class="form-buttons">
        <button type="submit" id="post_submit_button">Submit post</button>
    </div>
</form>

<noscript>
    <p class="no-js-message">The post submission form is currently disabled because you do not have JavaScript enabled. If you would like to participate in this dialogue or see updates in real time, please enable JavaScript in your browser.</p>
</noscript>
