{% for post in posts %}
    {% include "dialogues/partials/post_detail.html" %}
{% endfor %}

{% if posts %}
    <div
        hidden
        id="polling"
        hx-get="{% url 'dialogues:dialogue_detail_update' dialogue.id %}?last_id={{ last_id }}"
        hx-trigger="every 3s[!document.hidden && !window.pausePolling]"
        hx-target="#posts_container"
        hx-swap="beforeend"
        hx-swap-oob="true">
    </div>

    <input id="last_id_input" type="hidden" name="last_id" value="{{ last_id }}" hx-swap-oob="true">
{% endif %}
