main {
    align-items: center;
    display: flex;
    justify-content: center;
}

div:has(form) {
    max-width: 360px;
    width: 100%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

form input {
    padding: 0.5rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
}
