div.dashboard-intro-container {
    margin-bottom: 2rem;
}

div.dashboard-option-container {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid;
    box-shadow: 2px 2px;
}

div.dashboard-option-container h3 {
    margin-bottom: 0.25rem;
}
