{% extends "base/base.html" %}

{% load static %}
{% load dialogue_filters %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Dashboard</h1>

    <section class="dashboard-actions">
        <h2>Actions</h2>
        <a
            href="{% url 'dialogues:create_dialogue' %}"
            class="dashboard-button primary">
            <img
                src="{% static 'icons/plus.svg' %}"
                alt="An icon of a plus symbol"
                class="icon">
            Start a dialogue
        </a>
    </section>

    <section class="user-dialogues">
        <h2>Your dialogues</h2>

        {% if user_dialogues %}
            <ul>
                {% for dialogue in user_dialogues %}
                    <li>
                        <a
                            href="{% url 'dialogues:dialogue_detail' dialogue.id %}"
                            class="dashboard-button">
                            <img
                                src="{% static 'icons/message-square.svg' %}"
                                alt="An icon of two over bubbles overlapping"
                                class="icon">
                            <div class="dialogue-summary">
                                <small>{{ dialogue.created_on|timesince }} ago</small>
                                <p>{{ dialogue.title }}</p>
                                {% if dialogue.other_participants %}
                                    <small class="participants">w/ {{ dialogue.other_participants|text_list }}</small>
                                {% else %}
                                    <small class="participants">(just you)</small>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No dialogues yet.</p>
        {% endif %}

    </section>
</div>
{% endblock %}
