{% extends "base/base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Dashboard</h1>

    <section class="dashboard-intro">
        <p>Hey, <strong>{{ user }}</strong>! Welcome to the Ludwig user dashboard!</p>
    </section>

    <section class="dashboard-actions">
        <h2>Actions</h2>
        <a
            href="{% url 'dialogues:create_dialogue' %}"
            class="dashboard-button primary">
            <img
                src="{% static 'icons/plus.svg' %}"
                alt="An icon of a plus symbol"
                class="icon">
            Start a dialogue
        </a>
    </section>

    {% if user_dialogues %}
        <section class="user-dialogues">
            <h2>Your dialogues</h2>
            <ul>
                {% for dialogue in user_dialogues %}
                    <li>
                        <a
                            href="{% url 'dialogues:dialogue_detail' dialogue.id %}"
                            class="dashboard-button">
                            <img
                                src="{% static 'icons/message-square.svg' %}"
                                alt="An icon of two over bubbles overlapping"
                                class="icon">
                            <span>{{ dialogue.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
</div>
{% endblock %}
