div.dashboard-options {
    display: flex;
    flex-direction: column;
}

a.dashboard-button {
    align-items: flex-start;
    background: var(--color-neutral-3);
    border: 1px solid;
    border-radius: 4px;
    box-shadow: var(--box-shadow-primary);
    color: inherit;
    display: flex;
    flex-direction: row;
    gap: var(--size-1);
    margin-bottom: var(--size-0);
    padding: var(--size-1);
    text-decoration: none;
}

a.dashboard-button .dialogue-summary {
    display: flex;
    flex-direction: column;
    gap: var(--size-0);
}

a.dashboard-button .dialogue-summary p {
    margin-bottom: 0;
}

a.dashboard-button .dialogue-summary small {
    font-size: var(--font-size-0);
}

a.dashboard-button .dialogue-summary .posts-count {
    color: var(--color-primary-2);
}

a.dashboard-button img {
    position: relative;
    top: 2px;
}

a.dashboard-button:last-child {
    margin-bottom: 0;
}

a.dashboard-button.primary {
    background: var(--color-primary-1);
}

a.dashboard-button.coming-soon {
    display: none;
}

.user-dialogues ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    list-style-type: none;
}

.user-dialogues .dashboard-button {
    box-shadow: var(--box-shadow-primary);
}
