div.dashboard-options {
    display: flex;
    flex-direction: column;
}

a.dashboard-button {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: inherit;
}

a.dashboard-button:last-child {
    margin-bottom: 0;
}

a.dashboard-button.primary {
    background: var(--color-2);
}

a.dashboard-button img {
    margin-right: 1rem;
}

a.dashboard-button.coming-soon {
    background: var(--color-7);
    color: rgba(43, 59, 51, 0.5);
    pointer-events: none;
}

.coming-soon::after {
    margin-left: 1ch;
    content: "- Coming soon!";
    font-style: italic;
}
