div.dashboard-options {
    display: flex;
    flex-direction: column;
}

a.dashboard-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: inherit;
}

a.dashboard-button:last-child {
    margin-bottom: 0;
}

a.dashboard-button.primary {
    background: var(--color-2);
}

a.dashboard-button.coming-soon {
    background: var(--color-7);
    color: rgba(43, 59, 51, 0.5);
    pointer-events: none;
}

.coming-soon::after {
    content: "Coming soon!";
    font-size: 0.625rem;
    font-style: italic;
}

.user-dialogues ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.user-dialogues ul li a {
    background: var(--color-7);
    border: 1px solid var(--color-8);
    border-radius: 0.25rem;
    color: inherit;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    text-decoration: none;
}
