form label {
    font-weight: bold;
}

form .checkbox-field-container {
    display: flex;
    align-items: center;
}

form .hint {
    margin-bottom: var(--size-1);
}

form .checkbox-field-container input {
    margin-right: var(--size-0);
}

form .checkbox-field-container label {
    margin: 0;
}

/* user search styles */

.user-search-container {
    position: relative;
}

#search_indicator {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    display: none;
}

.htmx-request #search_indicator {
    display: block;
}

.search-results-dropdown:has(.user-option) {
    position: absolute;
    width: 100%;
    background: var(--color-neutral-1);
    border: 1px solid;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.user-option {
    padding: var(--size-1);
    cursor: pointer;
}

.user-option:hover {
    background: var(--color-neutral-2);
}

.no-results {
    margin-top: var(--size-0);
    font-style: italic;
    opacity: 0.6;
}

.selected-users {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-0);
}

.selected-users:has(.selected-user) {
    margin-top: var(--size-1);
}

.selected-user {
    align-items: center;
    background: var(--color-neutral-3);
    border: 1px solid;
    box-shadow: var(--box-shadow-primary);
    display: flex;
    gap: var(--size-1);
    padding: var(--size-0) var(--size-1);
}

.selected-user .remove-user {
    color: inherit;
    cursor: pointer;
    border: none;
    background: none;
    font-size: var(--size-1);
}

button.remove-user {
    border: none;
    box-shadow: none;
}
