h1 {
    margin-bottom: var(--size-2);
}

.dialogue-details div {
    margin-bottom: var(--size-1);
    padding: 0 var(--size-1);
}

.dialogue-details div:first-child {
    padding-top: var(--size-1);
}

.dialogue-details {
    background: var(--color-accent-1);
    border: 1px solid;
    box-shadow: 2px 2px var(--color-primary-1);
    margin-bottom: 0;
}

.dialogue-details .other p {
    margin-bottom: 0;
}

.dialogue-details .participants ul {
    margin-left: var(--size-2);
}

.dialogue-details .settings {
    padding: var(--size-1);
    border-top: 1px solid;
}

.dialogue-details .settings summary {
    cursor: pointer;
    font-weight: bold;
}

.post {
    padding: var(--size-1);
    background: var(--color-neutral-3);
    border: 1px solid;
    box-shadow: 2px 2px var(--color-primary-1);
    margin-bottom: var(--size-2);
}

.post:last-child {
    margin-bottom: 0;
}

.post-body {
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-1);
}

.post-author {
    color: var(--color-accent-2);
    font-weight: bold;
}

.post.post-by-user .post-author {
    color: var(--color-primary-2);
}

.post-time {
    margin-left: var(--size-1);
    font-variant: all-small-caps;
}

html:not([data-js-enabled="true"]) #post_form {
    display: none;
}

html[data-js-enabled="true"] #post_form {
    display: block;
}

#post_form textarea {
    margin-bottom: calc(var(--size-2) - 7px);
}
