.participants {
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

.dialogue-info p {
    margin-bottom: 0;
}

.post {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.post:last-child {
    margin-bottom: 0;
}

.post-body {
    padding: 1rem;
    background: var(--color-0);
    border: 1px solid var(--color-8);
    border-radius: 0.25rem;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.post-author {
    color: var(--color-4);
    font-weight: 500;
}

.post-time {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 0.625rem;
}

.post-form textarea {
    font-size: 0.875rem;
}
