main {
    align-items: center;
    display: flex;
    justify-content: center;
}

div.form-container {
    margin: auto;
    max-width: 360px;
    width: 100%;
}

main form {
    margin-bottom: 2rem;
}

main form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

main form label {
    margin-bottom: 0.25rem;
}

main form input {
    background: var(--color-0);
    border-radius: 0.25rem;
    padding: 8px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

main form input:focus {
    outline: 1px solid var(--color-2);
}

main form input::placeholder {
    opacity: 0.5;
    color: inherit;
}

main form button {
    background: var(--color-2);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

ul.errorlist {
    color: var(--color-alert);
    margin-left: 1rem;
    font-weight: bold;
}

form > ul.errorlist {
    margin-bottom: 1rem;
}

label + ul.errorlist {
    margin-bottom: 0.5rem;
}
