main {
    align-items: center;
    display: flex;
    justify-content: center;
}

div.form-container {
    margin: auto;
    max-width: 360px;
    width: 100%;
}

main form {
    margin-bottom: 2rem;
}

main form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

main form label {
    margin-bottom: 0.25rem;
}

main form input {
    background: var(--color-0);
    border: 1px solid;
    box-shadow: 2px 2px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem;
}

main form input:focus {
    outline: none;
    border: 1px solid var(--color-3);
    box-shadow: 2px 2px var(--color-3);
}

main form input::placeholder {
    opacity: 0.5;
    color: inherit;
}

main form button {
    background: var(--color-2);
    border: 1px solid;
    box-shadow: 2px 2px;
    width: 100%;
    padding: 0.5rem;
}

ul.errorlist {
    color: var(--color-alert);
    margin-left: 1rem;
    font-weight: bold;
}

form > ul.errorlist {
    margin-bottom: 1rem;
}

label + ul.errorlist {
    margin-bottom: 0.5rem;
}
