{% load static %}

<summary>Settings</summary>
<div class="collapsed-info">
    <div>
        <div class="row">
            <div>
                <h3>Delete this dialogue</h3>
                <p>This action is permanent, please be certain that you want to delete this dialogue before proceeding.</p>
            </div>
            <div>
                <button id="delete_dialogue_button" data-dialogue-id="{{ dialogue.id }}">
                    Delete it
                </button>
            </div>
        </div>
        <dialog id="delete_dialogue_dialog">
            <form id="delete_dialogue_form" action="{% url 'dialogues:delete_dialogue' dialogue.id %}" method="post">
                {% csrf_token %}
                <h2>Delete dialogue</h2>
                <p>Are you sure that you want to delete this dialogue?</p>
                <div class="buttons">
                    <button class="cancel" formmethod="dialog">Cancel</button>
                    <button class="confirm-delete" form="delete_dialogue_form" type="submit">Yes, delete it</button>
                </div>
            </form>
        </dialog>
    </div>
</div>
