{% extends "base/base.html" %}

{% load static %}
{% load dialogue_filters %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'dialogues/css/dialogue_detail.css' %}">
<link rel="stylesheet" href="{% static 'dialogues/css/markdown.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/htmx.js' %}" defer></script>
<script src="{% static 'dialogues/js/listeners.js' %}" defer></script>
{% endblock %}

{% block main %}
<div class="container">
    <section class="dialogue-header">
        <h1>{{ dialogue.title }}</h1>
        <div class="dialogue-details">
            {% if dialogue.summary %}
            <div class="summary">
                <h2>Objective:</h2>
                <p>{{ dialogue.summary }}</p>
            </div>
            {% endif %}

            <div class="participants">
                <h2>Participants:</h2>
                <ul>
                    {% for participant in dialogue.participants.all %}
                    <li>{{ participant }}{% if participant == dialogue.author %} (Author){% endif %}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="other">
                <p><strong>Created:</strong> {{ dialogue.created_on|date:"F j, Y" }}</p>
                <p><strong>Visibility:</strong> {% if dialogue.is_visible %}Public{% else %}Private{% endif %}</p>
            </div>

            {% if user == dialogue.author %}
                <details class="settings">
                    <summary>Settings</summary>
                    <div>
                        something hidden
                    </div>
                </details>
            {% endif %}
        </div>
    </section>

    <section id="posts_container">

        {% if posts %}
            {% for post in posts %}
                {% include "dialogues/partials/post.html" with post=post %}
            {% endfor %}
        {% else %}
            <div class="no-posts" id="no_posts_message">
                <p>No messages yet. Start the conversation!</p>
            </div>
        {% endif %}
    </section>

    <div
        id="polling_div"
        hx-get="{% url 'dialogues:new_posts' dialogue.id %}?last_id={{ last_id }}"
        hx-trigger="every 3s"
        hx-target="#posts_container"
        hx-swap="beforeend">
    </div>

    {% if request.user in dialogue.participants.all or dialogue.is_open %}
        <section class="post-form">
            {% include 'dialogues/partials/form.html' %}
        </section>
    {% endif %}

    <section class="dialogue-actions">
        <a href="{% url 'dashboard:home' %}" class="button">Back to Dashboard</a>
    </section>
</div>
{% endblock %}
